extends ../main.layout.pug

block variables
  - var title = 'Обо мне'
  - var current = title
  -
    var contacts = [
                   ['skype', 'skype_kdn'],
                   ['envelope', 'linata81@gmail.com'],
                   ['phone', '+7 905 476 17 50'],
                   ['map_marker', 'г.Краснодар, ул.Рождественская Набережная, д.3']
                   ];

block scripts
  script(src='about.bundle.js')

block hero
  include ../common/hero.pug

block content
  section.about
    .triangles.triangles_left.triangles_left_about
    .triangles.triangles_right.triangles_right_about
    .container.container-about
      .about__col.about__col_bg_white
        .about__title
          include ../common/title.pug
          +title('Обо мне','about-header.png' )
        .about__desk
          .user-desk
            .user-desk__pic
              img(src="assets/images/content/about.jpg", alt='user').user-desk__pic-elem
            .user-desk__info
              h3.user-desk__title
                .subtitle кто я
              .user-desk__text
                p Я веб разработчик из Краснодара. Мне 37 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                p Этот сайт я сделала в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!

      .about__col.about__col_bg_beige
        .about__right-title
          .subtitle чем я могу быть вам полезна
        .about__small-desc
          p Больше всего меня привлекет Frontend разработка, но я также знакома и могу решать не сложные задачи на Backend. Но давайте по порядку.

        .about__info-container
          #skills-component

  section.map
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyATfP1RmRasCx3-MSXv7h68sy41MGnx2TQ&callback=initMap" async defer)
    .map__google#map
    .map__data
      .contacts
        .contacts__title
          .subtitle Контакты
        address.contacts__data
          ul.contacts__list
            each item in contacts
              li.contacts__item.contacts-row
                  .contacts__icon
                    svg(class=`icon-contact icon-contact-${item[0]}`)
                      use(xlink:href=`assets/images/icons/sprite.svg#${item[0]}`)
                  if item[0]=='phone'
                    .contacts__desk
                      a(href="tel:+79054761750" class="contacts__link") #{item[1]}
                  else if item[0]=='skype'
                    .contacts__desk.contacts-row 
                      a(href="skype:skype_kdn" class="contacts__link") #{item[1]}
                  else if item[0]=='envelope'
                    .contacts__desk.contacts-row 
                      a(href="mailto:linata81@gmail.com" class="contacts__link") #{item[1]}
                  else
                    .contacts__desk.contacts-row #{item[1]}





